= render "shared/jplayer", filename: @riff.audio.url

%p= @riff.description
%p= @riff.user.username

- if @riff.user == current_user
  = link_to "Edit Riff", edit_riff_path(@riff)
  |
= link_to "Back", riffs_path
